.Navbar{

width: 100%;
height: 90px;
top:0;
left:0;
background-color: white;
border-bottom: 1px solid #eee;

}

.Navbar .container{
 height:100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 1rem;

}
.Navbar span {
    color: #EF4C00;
}

.Navbar .nav-menu {
    display: flex;

}

.Navbar li{
    padding: 2rem;
   
}

.hamburger {
    display: none;
}
.Navbar .icon{
    font-size: 1.5rem;
}
@media screen and (max-width:940px) {
    .hamburger {
        display: block;
    }

    .Navbar .nav-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 90px;
        left:100%;
        height: 100%;
        width: 100%;
        background-color: rgba(255,255,255,.98);
        transition: 0.4s ease-in-out;
        z-index: 10;
    }

    .Navbar .active {
        left:0;
    }
    .Navbar .nav-menu li a{
        font-size: 2rem;

    }
}

